<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">Name: </label>
        <input id="name" formControlName="name">
        <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
          <div *ngIf="myForm.get('name')?.errors?.['required']">Name is required.</div>
        </div>
    </div>

    <div>
        <label for="email">Email: </label>
        <input id="email" formControlName="email">
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
          <div *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="myForm.get('email')?.errors?.['email']">Email must be a valid email format.</div>
        </div>
      </div>
    <div formArrayName="addresses">
        <h3>Addresses: </h3>
        <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
            <label for="street">Street: </label>
            <input id="street" formControlName="street">
            <label for="city">City: </label>
            <input id="city" formControlName="city">
            <label for="state">State: </label>
            <input id="state" formControlName="state">
            <button type="button" (click)="removeAddress(i)">Remove Address</button>
        </div>
        <button type="button" (click)="addAddress()">Add Address</button>
    </div>
  
    <button type="submit" [disabled]="myForm.invalid">Submit</button>
  </form>